# Stellar Configuration
CONTRACT_ID=CBCUO5ELKJXQS2K2QI625CXZYS3DCHCBFIOYW5YPMDCX7EOB235C2QHH
RPC_URL=https://soroban-testnet.stellar.org
HORIZON_URL=https://horizon-testnet.stellar.org

# Auth
ORACLE_SK=SD23JQ5TAXTYJFV6EF574PTRZCBPBXRJTBSKXX7FOF3K3L7D7HF5VK42

# Data Feed (Use public URL when deployed)
DATA_FEED_URL=http://localhost:4001

# AI
ANTHROPIC_API_KEY=
